$accentColor = #d64933

$tertiaryColor = #bac1b8

$plainWhite = white

$primaryColor = #58a4b0

$plainBlack = black

$secondaryColor = #0c7c59

$standardSpacer = 1rem

$smallSpacer = $standardSpacer/2
