.absolute-center {
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)
}

.animation-rotation {
  animation-name rotation
  animation-duration: 3000ms
  animation-iteration-count: infinite
  animation-timing-function linear
}

@keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg)
    }
}
body {
  font-family: "Didact Gothic", sans-serif;
  background-color: $primaryColor;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-title {
  font-family: "Gloria Hallelujah";
}

.text-center {
  text-align: center;
}

.text-white {
  color: $plainWhite;
}

.section {
  height: 100vh;
  padding: $standartPadding*2;
}

.bg-tertiary {
  background-color: $tertiaryColor;
}

.bg-secondary {
  background-color: $secondaryColor;
}

#home {
  padding-top: 50px;
}

.container {
  margin: auto;
  max-width: 800px;
  height: 50%;
}

.card {
  padding: $standartMargin*2;
  background: $plainWhite;
}

.card-narrow {
  width: 200px;
}

.standard-border {
  border: 1px solid $primaryColor;
}

.fancy-input {
  background: $plainBlack;
  border: 1px solid $plainBlack;
  outline: none;
  height: 34px;
  width: 100%;
  padding: $standartPadding;
  box-sizing: border-box;
}

.fancy-input:focus {
  background: $tertiaryColor;
  border: 1px solid $primaryColor;
}

.btn-primary,
.btn-secondary {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 36px;
  line-height: 36px;
  transition: all ease-in-out 300ms;
  &:hover {
    box-shadow: 2px 2px 14px 0 $tertiaryColor
  }
}

.btn-primary {
  color: $plainWhite;
  background: $primaryColor;
}

.btn-secondary {
  color: $primaryColor;
  background: $plainWhite;
}

.d-block {
  display: block;
}

.m-t {
  margin-top: $standartMargin;
}

.m-r {
  margin-right: $standartMargin;
}

.m-l {
  margin-left: $standartMargin;
}

.m-l-sm {
  margin-left: $standartMargin/2;
}

.p-t {
  padding-top: $standartMargin;
}

.navigation {
  height: 50px;
  background: $primaryColor;
  color: $plainWhite;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 10px;
}

.navigation-item {
  padding: 15px;
  color: $plainWhite;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  border-bottom: 1px solid $primaryColor;
  padding: $standartPadding 0;
  color: $tertiaryColor;
}

.text-accent {
  color: $text-accent;
}

.text-black {
  color: initial;
}

.round-border {
  border-radius: 8px;
}

.drop-shadow {
  box-shadow: 2px 2px 4px 0 $plainBlack;
}

.m-auto {
  margin-left: auto
  margin-right: auto
}